media/TestMode/OptilogAPI.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="Optilog" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsp:Policy wsu:Id="BasicHttpsBinding_IOptilog_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="https://ws.dev.aramex.net/Optilog/Optilog.svc?xsd=xsd0"
                        namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="https://ws.dev.aramex.net/Optilog/Optilog.svc?xsd=xsd1"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="https://ws.dev.aramex.net/Optilog/Optilog.svc?xsd=xsd2"
                        namespace="http://schemas.datacontract.org/2004/07/Corp.Optilog.Api"/>
            <xsd:import schemaLocation="https://ws.dev.aramex.net/Optilog/Optilog.svc?xsd=xsd3"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IOptilog_GetStock_InputMessage">
        <wsdl:part name="parameters" element="tns:GetStock"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_GetStock_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetStockResponse"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_CreateASN_InputMessage">
        <wsdl:part name="parameters" element="tns:CreateASN"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_CreateASN_OutputMessage">
        <wsdl:part name="parameters" element="tns:CreateASNResponse"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_CreateSO_InputMessage">
        <wsdl:part name="parameters" element="tns:CreateSO"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_CreateSO_OutputMessage">
        <wsdl:part name="parameters" element="tns:CreateSOResponse"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_CreateItems_InputMessage">
        <wsdl:part name="parameters" element="tns:CreateItems"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_CreateItems_OutputMessage">
        <wsdl:part name="parameters" element="tns:CreateItemsResponse"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_CancelSO_InputMessage">
        <wsdl:part name="parameters" element="tns:CancelSO"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_CancelSO_OutputMessage">
        <wsdl:part name="parameters" element="tns:CancelSOResponse"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_UpdateSODeliveryDate_InputMessage">
        <wsdl:part name="parameters" element="tns:UpdateSODeliveryDate"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_UpdateSODeliveryDate_OutputMessage">
        <wsdl:part name="parameters" element="tns:UpdateSODeliveryDateResponse"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_GetSOStatus_InputMessage">
        <wsdl:part name="parameters" element="tns:GetSOStatus"/>
    </wsdl:message>
    <wsdl:message name="IOptilog_GetSOStatus_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetSOStatusResponse"/>
    </wsdl:message>
    <wsdl:portType name="IOptilog">
        <wsdl:operation name="GetStock">
            <wsdl:input wsaw:Action="http://tempuri.org/IOptilog/GetStock"
                        message="tns:IOptilog_GetStock_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOptilog/GetStockResponse"
                         message="tns:IOptilog_GetStock_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateASN">
            <wsdl:input wsaw:Action="http://tempuri.org/IOptilog/CreateASN"
                        message="tns:IOptilog_CreateASN_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOptilog/CreateASNResponse"
                         message="tns:IOptilog_CreateASN_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateSO">
            <wsdl:input wsaw:Action="http://tempuri.org/IOptilog/CreateSO"
                        message="tns:IOptilog_CreateSO_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOptilog/CreateSOResponse"
                         message="tns:IOptilog_CreateSO_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateItems">
            <wsdl:input wsaw:Action="http://tempuri.org/IOptilog/CreateItems"
                        message="tns:IOptilog_CreateItems_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOptilog/CreateItemsResponse"
                         message="tns:IOptilog_CreateItems_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CancelSO">
            <wsdl:input wsaw:Action="http://tempuri.org/IOptilog/CancelSO"
                        message="tns:IOptilog_CancelSO_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOptilog/CancelSOResponse"
                         message="tns:IOptilog_CancelSO_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateSODeliveryDate">
            <wsdl:input wsaw:Action="http://tempuri.org/IOptilog/UpdateSODeliveryDate"
                        message="tns:IOptilog_UpdateSODeliveryDate_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOptilog/UpdateSODeliveryDateResponse"
                         message="tns:IOptilog_UpdateSODeliveryDate_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetSOStatus">
            <wsdl:input wsaw:Action="http://tempuri.org/IOptilog/GetSOStatus"
                        message="tns:IOptilog_GetSOStatus_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IOptilog/GetSOStatusResponse"
                         message="tns:IOptilog_GetSOStatus_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_IOptilog" type="tns:IOptilog">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetStock">
            <soap:operation soapAction="http://tempuri.org/IOptilog/GetStock" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateASN">
            <soap:operation soapAction="http://tempuri.org/IOptilog/CreateASN" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateSO">
            <soap:operation soapAction="http://tempuri.org/IOptilog/CreateSO" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateItems">
            <soap:operation soapAction="http://tempuri.org/IOptilog/CreateItems" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelSO">
            <soap:operation soapAction="http://tempuri.org/IOptilog/CancelSO" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateSODeliveryDate">
            <soap:operation soapAction="http://tempuri.org/IOptilog/UpdateSODeliveryDate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSOStatus">
            <soap:operation soapAction="http://tempuri.org/IOptilog/GetSOStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BasicHttpsBinding_IOptilog" type="tns:IOptilog">
        <wsp:PolicyReference URI="#BasicHttpsBinding_IOptilog_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetStock">
            <soap:operation soapAction="http://tempuri.org/IOptilog/GetStock" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateASN">
            <soap:operation soapAction="http://tempuri.org/IOptilog/CreateASN" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateSO">
            <soap:operation soapAction="http://tempuri.org/IOptilog/CreateSO" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateItems">
            <soap:operation soapAction="http://tempuri.org/IOptilog/CreateItems" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelSO">
            <soap:operation soapAction="http://tempuri.org/IOptilog/CancelSO" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateSODeliveryDate">
            <soap:operation soapAction="http://tempuri.org/IOptilog/UpdateSODeliveryDate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSOStatus">
            <soap:operation soapAction="http://tempuri.org/IOptilog/GetSOStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Optilog">
        <wsdl:port name="BasicHttpBinding_IOptilog" binding="tns:BasicHttpBinding_IOptilog">
            <soap:address location="https://ws.dev.aramex.net/Optilog/Optilog.svc"/>
        </wsdl:port>
        <wsdl:port name="BasicHttpsBinding_IOptilog" binding="tns:BasicHttpsBinding_IOptilog">
            <soap:address location="https://ws.dev.aramex.net/Optilog/Optilog.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>